/* CSS Document	*/

body
{
	font			 : 13px/1.5	"Myriad	Pro", Arial, Helvetica,	sans-serif;
	background-color : #88a6c0;	/* Overall Site	Background Color - Comment out to use an Image */
	color			 : #444;
}

a
{
	color :	#666;
}

a:hover
{
	color :	#F79C00;
}

.box
{
	background : none repeat scroll	0 0	#363636;
	color	   : #666666;
	padding	   : 8px !important;
	margin-top : 10px;
}

.radius
{
	-webkit-border-radius :	8px;
	-moz-border-radius	  :	8px;
	border-radius		  :	8px;
}

.radius-left
{
	-webkit-border-radius :	8px	0 0	8px;
	-moz-border-radius	  :	8px	0 0	8px;
	border-radius		  :	8px	0 0	8px;
}

.float_right
{
	float :	right;
}

.loading
{
	position		   : fixed;
	top				   : 10px;
	right			   : 0px;
	background		   : #000 url("../images/loader.gif") no-repeat	10px 50%;
	padding			   : 15px 40px 15px	60px;
	-moz-box-shadow	   : 0px 0px 2px #000;
	-webkit-box-shadow : 0px 0px 2px #000;
	box-shadow		   : 0px 0px 2px #000;
	opacity			   : 0.6;
}

.loading span
{
	color :	#FFF;
}

/* HEADINGS	*/

h1
{
	color		   : #F79C00;
	font-size	   : 26px;
	letter-spacing : -1px;
}

/* FORM	*/

form p
{
	margin : 20px;
}

input, select
{
	vertical-align : middle;
}

input[type="text"],
input[type="password"],
input[type="select"],
textarea, select
{
	border-color : #C4C4C4 #E9E9E9 #E9E9E9 #C4C4C4;
	border-style : solid;
	border-width : 1px;
	padding		 : 4px;
	color		 : #777;
}

input:focus, textarea:focus, select:focus
{
	border-color  :	#969696;
	outline-width :	0;
}

fieldset
{
	margin				  :	10px 0 0;
	padding				  :	6px;
	position			  :	relative;
	background			  :	#FFF;
	-webkit-border-radius :	8px;
	-moz-border-radius	  :	8px;
	border-radius		  :	8px;
}

label
{
	font-size	   : 11px;
	text-transform : uppercase;
	font-weight	   : bold;
}

label.required:before
{
	content		: "*";
	color		: red;
	font-family	: "Lucida Grande", Verdana,	Arial, Helvetica, sans-serif;
}

/* BUTTON */

.button
{
	display				  :	inline-block;
	padding				  :	5px	10px;
	color				  :	#FFF !important;
	text-decoration		  :	none;
	font-weight			  :	bold;
	font-size			  :	14px;
	font-family			  :	Tahoma,	Arial, sans-serif;
	position			  :	relative;
	cursor				  :	pointer;
	border				  :	none;
	background			  :	#666;
	-webkit-border-radius :	8px;
	-moz-border-radius	  :	8px;
	border-radius		  :	8px;
}

.button:hover, .button:focus, .button:active
{
	outline	: medium none;
	opacity	: .9;
}

.button-orange
{
	color			 : #FFF	!important;
	background-color : #F79C00 !important;
}
