body
{
    font-family      : tahoma, arial, helvetica, sans-serif;
    font-size        : 8pt;
    background-color : #4f7392; /* Overall Site Background Color - Comment out to use an Image */
    color            : #FFFFFF; /*  Change the overall font color */
    margin-left      : 15%;
    margin-top       : 0px;
    margin-right     : 15%;
    margin-bottom    : 5px;
}
table.main, table.mainouter
{
    background-color    : #022140;
    border              : 0px 0px 0px 0px;
}
table
{
    border-collapse  : collapse;
    border           : 0px 0px 0px 0px ;
    background-color : #04182E; /* Change the table background color */
}

table.std
{
    padding    : 0px;
    border     : 0px ;
    background : transparent;
}

table.logo
{
    margin  : 0px 0px 0px 0px;
    height : 155px;
}

table.bottom
{
    background : transparent;
}

.sticky
{
    background-color : #993366;
}

h1
{
    font-size  : 12pt;
    text-align : center;
}

h2
{
    font-size     : 10pt;
    margin-bottom : 6px;
    text-align    : center;
}

p
{
    font-size : 8pt;
}

td
{
    font-size : 8pt;
    border    : 1px solid #000000;
}

td.std
{
    font-size : 8pt;
    border    : 1px solid #000000;
}

td.std1
{
    border  : 0px;
}

td.comm
{
    font-size : 8pt;
    border    : 1px solid #000000;
}

td.detail
{
    font-size   : 8pt;
    font-weight : bold;
    border      : 1px solid #000000;
}

td.embedded
{
    border     : none;
    padding    : 0;
    text-align : left;
}

td.forum
{
    #background-color     : #000000;
    #border               : 1px solid #8B2500;
    font-family           : Verdana, Helvetica, sans-serif;
    font-size             : 11px;
    padding               : 1px;
    -webkit-border-radius : 6px !important;
    -moz-border-radius    : 6px !important;
}

td.bottom
{
    border : none;
}

td.heading
{
    font-weight : bold;
}

td.text
{
    padding    : 10pt;
    text-align : left;
}

td.comment
{
    padding    : 10pt;
    font-size  : 8pt;
    text-align : left;
}

td.colhead
{
    font-weight      : bold;
    color            : #FFFFFF; /*  Change the font color to match altlink_forum */
    background-color : #1D2F43; /* Comment out to use an Image */
}

a.altlink_forum:visited
{
    font-weight     : bold;
    color           : #000000; /*   Change the font color to match altlink_forum */
    text-decoration : none;
}

a.altlink_forum:hover
{
    text-decoration : none;
    color           : #ff0000; /*   Change the font color of the hover links in forums */
}

td.rowhead
{
    font-size : 8pt;
}

td.rowhead_form
{
    font-weight : bold;
}

td.navigation
{
    font-weight : bold;
    font-size   : 10pt;
    border      : none;
}

td.clear
{
    padding    : 0;
    border     : 0;
    background : transparent;
}

td.track
{
    font-weight     : bold;
    text-align      : left;
    #vertical-align : top;
    border          : 0;
}

legend
{
    text-align : center;
}

form
{
    margin-top    : 0;
    margin-bottom : 0;
}

a:link, a:visited
{
    text-decoration : none;
    color           : #FFFFFF; /*   Change the font color of links */
}

a:hover
{
    color : #ff0000; /* Change the font color of the hover links */
}

a.altlink:link, a.altlink:visited
{
    font-weight     : bold;
    color           : #a83838; /*   Change the font color of the Edit, Delete (forums), E, D (News on index) etc..*/
    text-decoration : none;
}

a.altlink:hover
{
    text-decoration : none;
}

.red
{
    color : #ee0000;
}

input, select, textarea
{
    font-size : 8pt;
}

.small
{
    font-size : 7pt;
}

li
{
    margin-top    : 6pt;
    margin-bottom : 6pt;
}

ul
{
    margin-left   : 16pt;
    margin-top    : 0;
    margin-bottom : 0;
}

fieldset
{
    width       : 95%;
    border      : solid #0F5C8E 1px;
    padding     : 0 1em 1em 1em;
    margin-left : 15px;
}

a.catlink:link
{
    text-decoration : none;
}

a.catlink:hover
{
    color : #a83838;
}

/* font sizes valid */
.font_size_1
{
    font-size : xx-small;
}

.font_size_2
{
    font-size : x-small;
}

.font_size_3
{
    font-size : small;
}

.font_size_4
{
    font-size : medium;
}

.font_size_5
{
    font-size : large;
}

.font_size_6
{
    font-size : x-large;
}

.font_size_7
{
    font-size : xx-large;
}

/*-------------------------------------------- Start of Polls ----------------------------------------*/
.poll
{
    background-color : #ece9d8; /* Changes the background color of the Polls*/
}

#poll_container
{
    border      : 1px solid #333333;
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size   : 12px;
    margin      : 5px;
    padding     : 5px;
    width       : 400px;
}

#poll_title
{
    border      : none;
    font-size   : 14px;
    font-weight : bold;
    text-align  : center;
}

.barmax, .bar
{
    border        : 1px solid #666666;
    padding-left  : 2px;
    padding-right : 2px;
}

.bar
{
    background : #cc4400;
}

.barmax
{
    background : #0033cc;
}
/*------------------------------------------- End of Polls -------------------------------------------*/

.roundedCorners
{
    border                : 1px solid #000;
    -moz-border-radius    : 6px;
    -webkit-border-radius : 6px;
}

.codetop
{
    background  : #0099FF url(/images/bbcode/code.jpg) no-repeat right;
    color       : #000;
    font-weight : bold;
    margin      : 0 auto 0 auto;
    padding     : 3px;
    border      : 1px solid #000;
    width       : 470px;
}

.codemain
{
    background : #FFF;
    border     : 1px solid #000;
    color      : #000;
    margin     : 0 auto 0 auto;
    padding    : 3px;
    width      : 470px;
    overflow   : auto;
    height     : 150px;
}

/*--------------------------------- Start For Donation Page - Align Offers ---------------------------*/
.thumbnail
{
    float  : left;
    width  : 225px;
    height : 272px;
}

.clearboth
{
    clear : both;
}

#wrapper
{
    padding  : 0;
    width    : 675px;
    height   : auto;
    position : relative;
}
/*--------------------------------- End For Donation Page - Align Offers -----------------------------*/

/*--------------------------------- Start OK Submit Buttons Styling ----------------------------------*/
.btn
{
    display               : inline-block;
    outline               : none;
    cursor                : pointer;
    text-align            : center;
    text-decoration       : none;
    /*font: 16px Helvetica, sans-serif;*/
    padding               : 1px 2px;
    text-shadow           : 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-border-radius : 5px;
    -moz-border-radius    : 5px;
    border-radius         : 5px;
    -webkit-box-shadow    : 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow       : 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow            : 0 1px 2px rgba(0, 0, 0, .2);
    color                 : #000000; /* Changes the font    color of the buttons */
    background            : #d39c55; /* Changes the top color of the button */
    /* Replace all #d39c55 with your new top color.  Replace all #d3af80 with you new bottom color.
     /*1st Value    Changes the background color of the top layer of button. */
    /* 2nd value changes the bottom color layer of button */
    background            : -webkit-gradient(linear, left top, left bottom, from(#4F5D6D), to(#828C96));
    background            : -moz-linear-gradient(top, #4F5D6D, #828C96);
    filter                : progid:DXImaGETransform.Microsoft.gradient(startColorstr = '#4F5D6D', endColorstr = '#828C96');
}

.btn:hover
{
    background      : #d39c55; /*   Changes the top color of the button */
    /* 1st Value Changes the background color of the top layer of button.*/
    /* 2nd value changes the bottom color layer of button */
    background      : -webkit-gradient(linear, left top, left bottom, from(#828C96), to(#4F5D6D));
    background      : -moz-linear-gradient(top, #828C96, #4F5D6D);
    filter          : progid:DXImaGETransform.Microsoft.gradient(startColorstr = '#828C96', endColorstr = '#4F5D6D');
    text-decoration : none;
    color           : #ffffff; /* Changes the font  color of the buttons on hover*/
}
/*---------------------------------- End OK Submit Buttons Styling -----------------------------------*/

/*-------------------------------------- Start Statusbar Styling -------------------------------------*/
.statusbar_container
{
    width   : 70%;
    margin  : 0px 0px 0px 0px;
    position: fixed;
    z-index : 2;
}

#statusbar
{
    background            : #04182E; /* Changes the background color of the Statusbar */
    border                : solid 1px #000000; /* Changes the border color of the Statusbar */
    margin                : 9px 9px 9px 9px;
    padding               : 0 5px 0 5px;
    -webkit-border-radius : 6px !important;
    -moz-border-radius    : 6px !important;
}

#statusbar p
{
    background     : transparent !important;
    border         : 0 !important;
    font-size      : 10px;
    font-weight    : bold;
    letter-spacing : 1px;
    margin         : 0 !important;
    padding        : 3px 0 3px 0;
    text-align     : right;
    font-weight    : normal;
    letter-spacing : 0;
}

#statusbar p.home
{
    float : left;
    color : #FFFFFF;
}

td.status
{
    border  : 0px;
    padding : 0px;
}
/*-------------------------------------- End Statusbar Styling ---------------------------------------*/

/*-------------------------------------- Start DropDown Menu Styling ---------------------------------*/
.stn-menu,
.stn-menu ul a:hover,
.stn-menu ul li:hover > a
{
    background            : #EC8D00;
    background            : -moz-linear-gradient(top, #ffffff 0%, #FCB143 3%, #EC8D00 100%);
    background            : -webkit-gradient(linear, left top, left bottom, color-stop(0, #FDD08C), color-stop(0.03, #FCB143), color-stop(1, #EC8D00));
    filter                : progid:DXImageTransform.Microsoft.gradient(startColorstr = '#FCB143', endColorstr = '#EC8D00');
    color                 : #FFF !important;
    border                : solid 1px #C67701;
    -webkit-border-radius : 6px;
    -moz-border-radius    : 6px;
}

.stn-menu
{
    font-size          : 13px;
    line-height        : 100%;
    padding            : 8px 10px 2px;
    margin             : 0;
    -webkit-box-shadow : 1px 1px 3px rgba(0, 0, 0, .5);
    -moz-box-shadow    : 1px 1px 3px rgba(0, 0, 0, .5);
}

.stn-menu li
{
    list-style : none;
    padding    : 0 0 6px;
    margin     : 0 5px;
    float      : left;
    position   : relative;
    z-index    : 2;
}

.stn-menu a
{
    font-weight           : bold;
    color                 : #FFF;
    text-decoration       : none;
    outline               : none !important;
    display               : block;
    padding               : 8px 10px;
    margin                : 0;
    border                : 1px solid transparent;
    border-radius         : 7px;
    -webkit-border-radius : 7px;
    -moz-border-radius    : 7px;
    text-shadow           : 0 1px 1px rgba(0, 0, 0, .5);
}

.stn-menu li.hasSubNav a
{
    border-radius                   : 0px;
    -webkit-border-radius           : 0px;
    -moz-border-radius              : 0px;
    -webkit-border-top-left-radius  : 4px;
    -webkit-border-top-right-radius : 4px;
    -moz-border-radius-topleft      : 4px;
    -moz-border-radius-topright     : 4px;
    border-top-left-radius          : 4px;
    border-top-right-radius         : 4px;
}

.stn-menu li.hasArrow a
{
    padding-right : 2.25em;
}

.stn-menu .arrow
{
    background : url(/stylesheets/default/images/nav-open.png) no-repeat 0 0;
    width      : 13px;
    height     : 5px;
    display    : block;
    position   : absolute;
    right      : 10px;
    top        : 14px;
    z-index    : 1;
}

.stn-menu li:hover > a
{
    background  : #022140;
    background  : -webkit-gradient(linear, left top, left bottom, from(#022140), to(#022140));
    background  : -moz-linear-gradient(top, #022140 0%, #022140 100%);
    display     : block;
    color       : #FFFFFF;
    cursor      : pointer !important;
    border      : solid 1px #FFFFFF;
    text-shadow : 0 1px 1px rgba(0, 0, 0, .1);
}

.stn-menu li:hover > ul
{
    display : block !important;
}

.stn-menu ul
{
    background                     : #022140;
    background                     : -webkit-gradient(linear, left top, left bottom, from(#022140), to(#022140));
    background                     : -moz-linear-gradient(top, #022140, #022140);
    width                          : 175px;
    display                        : none;
    padding                        : .5em 5px;
    margin                         : 0;
    position                       : absolute;
    top                            : 30px;
    left                           : 0;
    border                         : solid 1px #FFFFFF;
    border-top                     : none;
    -webkit-border-radius          : 6px;
    -webkit-border-top-left-radius : 0;
    -moz-border-radius             : 6px;
    -moz-border-radius-topleft     : 0;
    border-radius                  : 4px;
    border-top-left-radius         : 0;
    -webkit-box-shadow             : 2px 2px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow                : 2px 2px 2px rgba(0, 0, 0, .1);
    box-shadow                     : 2px 2px 2px rgba(0, 0, 0, .1);
}

.stn-menu ul li
{
    padding : 0;
    margin  : 0;
    float   : none;
}

.stn-menu ul a
{
    color       : #FFFFFF !important;
    font-weight : normal;
    text-shadow : none;
    text-shadow : 0 1px 1px rgba(0, 0, 0, .25);
}

.stn-menu ul ul
{
    border-top            : solid 1px #b4b4b4;
    left                  : 161px;
    top                   : -10px;
    -webkit-border-radius : 4px;
    -moz-border-radius    : 4px;
    border-radius         : 4px;
}

.stn-menu ul .arrow
{
    z-index : 0 !important;
    top     : 15px !important;
}

.stn-menu:after
{
    content     : ".";
    display     : block;
    clear       : both;
    visibility  : hidden;
    line-height : 0;
    height      : 0;
}

.stn-menu.TSP,
.stn-menu.TSP ul a:hover
{
    background : #04182E !important;
    border     : solid 1px #000000 !important;
}

.stn-menu.TSP ul li:hover > a
{
    background            : #04182E !important;
    border                : solid 1px #FFFFFF !important;
    -webkit-border-radius : 6px  !important;
    -moz-border-radius    : 6px !important;
    border-radius         : 6px;
}
/*-------------------------------------- End DropDown Menu Styling -----------------------------------*/

/*-------------------------------------- Start Staff Tools Styling -----------------------------------*/
.TSPbutton
{
    border                : 2px solid #88a6c0; /*Change border color of buttons*/
    display               : block;
    -moz-border-radius    : 20px;
    -webkit-border-radius : 20px;
    width                 : 170px;
    margin                : 0 0 15px 0;
}

.TSPbutton span
{
    display               : block;
    -moz-border-radius    : 20px;
    -webkit-border-radius : 20px;
    padding               : 15px 10px 15px 10px;
    text-align            : center;
    color                 : #000000; /*Change font color    of buttons*/
    font-size             : 13px;
    line-height           : 1.3em;
}

.TSPbutton:hover
{
    background : #d3b895; /*    Change background color of buttons while hovering */
}

.TSPbutton span:hover
{
    color : #ff0000; /*Change font color    of buttons*/
}
/*-------------------------------------- End Staff Tools Styling -------------------------------------*/

/*----------------------------------------- Start Userdetails Content --------------------------------*/
#featured ul.ui-tabs-nav
{
    list-style :none;
    margin     : 1em 0;
    padding    : 0;
    text-align : center;
}

#featured ul.ui-tabs-nav li
{
    display   : inline;
    margin    : 0 2px;
    font-size :12px;
}

#featured .ui-tabs-panel
{
    width    :100%; /* increase / decrease width of user details display */
    height   :100%; /* Do not adjust */
    position :relative;
}
/*------------------------------------- Finish Sliding Userdetails Content ---------------------------*/

/*------------------------------------ Start Error/Warning Notices -----------------------------------*/
.notice
{
    background            : url(/images/error/error-bg.png) repeat-x 0 0;
    color                 : #FFF;
    width                 : 83%;
    font-weight           : normal;
    padding               : 4px 15px 0;
    margin-bottom         : 1.0em;
    -moz-border-radius    : 6px;
    -webkit-border-radius : 6px;
    border-radius         : 6px;
    -moz-box-shadow       : 1px 1px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow    : 1px 1px 2px rgba(0, 0, 0, .4);
    box-shadow            : 1px 1px 2px rgba(0, 0, 0, .4);
    position              : relative;
    left                  : 34px;
    z-index               : 1;
}

.notice p
{
    margin-bottom : 1.5em;
}

.notice p:last-child
{
    margin-bottom : 0;
}

.notice ul
{
    margin-left   : 8px;
    margin-bottom : 1.5em;
}

.notice ul:last-child
{
    margin-bottom : 0;
}

.notice li
{
    background      : url(/images/error/error-tabs.png) no-repeat 0 -95px;
    list-style-type : none;
    padding-left    : 18px;
    margin-bottom   : .75em;
}

.notice-success li
{
    background-position : 0 -95px;
}

.notice-warn li
{
    background-position : 0 -895px;
}

.notice-error li
{
    background-position : 0 -495px;
}

.notice-info li
{
    background-position : 0 -1295px;
}

.notice h5
{
    font-size     : 14px;
    font-weight   : bold;
    margin-bottom : .65em;
}

.notice span
{
    background : url(/images/error/error-tabs.png) no-repeat 100% 0;
    width      : 33px;
    height     : 40px;
    position   : absolute;
    left       : -34px;
    top        : 6px;
}

.notice-success
{
    background-color : #1D2F43;
    color            : #596C26;
    border           : 1px solid #8FAD3D;
}

.notice-success span
{
    background-position : 100% 0;
}

.notice-warn
{
    background-color : #1D2F43;
    color            : #796100;
    border           : 1px solid #E1B500;
}

.notice-warn span
{
    background-position : 100% -800px;
}

.notice-error
{
    background-color : #1D2F43;
    color            : #933628;
    border           : 1px solid #AE3F2F;
}

.notice-error span
{
    background-position : 100% -400px;
}

.notice-info
{
    background-color : #1D2F43;
    color            : #285797;
    border           : 1px solid #4381CD;
}

.notice-info span
{
    background-position : 100% -1200px;
}
/*------------------------------------- End Error/Warning Notices ------------------------------------*/

/*------------------------------------------- Start LightBox -----------------------------------------*/
.image-resize
{
    max-width : 350px;
    border    : none;
}
/*-------------------------------------------- End LightBox ------------------------------------------*/