body
{
    font-size        : 8pt;
    font-family      : tahoma, arial, helvetica, sans-serif;
    color            : #DADADA; /*  Change the overall font color */
    background-color : #1B1A18; /* Overall Site Background Color - Comment out to use an Image*/
    margin-left      : 3%;
    margin-right     : 3%;
}

/*--------------------------------------- Start GenX Theme Classes -----------------------------------*/
table.genx
{
    background : transparent;
    border     : none;
}

td.genx
{
    font-size   : 8pt;
    font-family : tahoma, arial, helvetica, sans-serif;
    border      : none;
}

td.genx_logo
{
    background-color : #2A2A2A;
    border           : none;
}

td.mainbody
{
    background-color : #2A2A2A;
    border-top       : none;
    border-bottom    : none;
    border-left      : 1px solid #444444;
    border-right     : 1px solid #444444;
}
/*---------------------------------------- End GenX Theme Classes ------------------------------------*/

/*--------------------------------------- Standard FreeTSP Classes -----------------------------------*/
table
{
    border-collapse  : collapse;
    border           : none;
    background-color : #2A2A2A; /* Change the table background color */
}

table.bottom
{
    background : transparent;
}

.sticky
{
    background-color : #993366;
}

h1
{
    font-size  : 12pt;
    text-align : center;
}

h2
{
    font-size        : 12pt;
    color            : #DADADA;
    text-align       : center;
    padding          : 9px 0px 0px 0px ;
    background-image : url(/stylesheets/genx/images/T7.2.png);
    width            : 100%;
    height           : 30px;
}

p
{
    font-size : 8pt;
}

td
{
    font-size : 8pt;
    border    : 1px solid #DADADA;
}

td.std
{
    font-size : 8pt;
    #border   : 0px solid;
}

td.comm
{
    font-size : 8pt;
    border    : 1px solid #000000;
}

td.detail
{
    font-size   : 8pt;
    font-weight : bold;
    border      : 1px solid #DADADA;
}

td.embedded
{
    border     : none;
    padding    : 0;
    text-align : left;
}

td.forum
{
    #background-color     : #000000;
    #border               : 1px solid #8B2500;
    font-family           : Verdana, Helvetica, sans-serif;
    font-size             : 11px;
    padding               : 1px;
    -webkit-border-radius : 6px !important;
    -moz-border-radius    : 6px !important;
}

td.bottom
{
    border : none;
}

td.heading
{
    font-weight : bold;
}

td.text
{
    padding    : 10pt;
    text-align : left;
}

td.comment
{
    padding    : 10pt;
    font-size  : 8pt;
    text-align : left;
}

td.colhead
{
    font-weight      : bold;
    color            : #ffffff; /*  Change the font color to match altlink_forum */
    background-color : #525254; /* Comment out to use an Image */
}

a.altlink_forum:visited
{
    font-weight     : bold;
    color           : #ffffff; /*   Change the font color to match altlink_forum */
    text-decoration : none;
}

a.altlink_forum:hover
{
    text-decoration : none;
    color           : #ff0000; /*   Change the font color of the hover links in forums */
}

td.rowhead
{
    font-size : 8pt;
}

td.rowhead_form
{
    font-weight : bold;
}

td.navigation
{
    font-weight : bold;
    font-size   : 10pt;
    border      : none;
}

td.clear
{
    padding    : 0;
    border     : 0;
    background : transparent;
}

td.track
{
    font-weight     : bold;
    text-align      : left;
    #vertical-align : top;
    border          : 0;
}

legend
{
    text-align : center;
}

form
{
    margin-top    : 0;
    margin-bottom : 0;
}

a:link, a:visited
{
    text-decoration : none;
    color           : #ffffff; /*   Change the font color of links */
}

a:hover
{
    color : #ff0000; /* Change the font color of the hover links */
}

a.altlink:link, a.altlink:visited
{
    font-weight     : bold;
    color           : #a83838; /*   Change the font color of the Edit, Delete (forums), E, D (News on index) etc..*/
    text-decoration : none;
}

a.altlink:hover
{
    text-decoration : none;
}

.red
{
    color : #ee0000;
}

input, select, textarea
{
    font-size : 8pt;
}

.small
{
    font-size : 7pt;
}

li
{
    margin-top    : 6pt;
    margin-bottom : 6pt;
}

ul
{
    margin-left   : 16pt;
    margin-top    : 0;
    margin-bottom : 0;
}

fieldset
{
    width       : 95%;
    border      : solid #0F5C8E 1px;
    padding     : 0 1em 1em 1em;
    margin-left : 15px;
}

a.catlink:link
{
    text-decoration : none;
}

a.catlink:hover
{
    color : #a83838;
}

/* font sizes valid */
.font_size_1
{
    font-size : xx-small;
}

.font_size_2
{
    font-size : x-small;
}

.font_size_3
{
    font-size : small;
}

.font_size_4
{
    font-size : medium;
}

.font_size_5
{
    font-size : large;
}

.font_size_6
{
    font-size : x-large;
}

.font_size_7
{
    font-size : xx-large;
}

/*-------------------------------------------- Start of Polls ----------------------------------------*/
.poll
{
    background-color : #2A2A2A; /* Changes the background color of the Polls*/
}

#poll_container
{
    border      : 1px solid #333333;
    font-family : Verdana, Arial, Helvetica, sans-serif;
    font-size   : 12px;
    margin      : 5px;
    padding     : 5px;
    width       : 400px;
}

#poll_title
{
    border      : none;
    font-size   : 14px;
    font-weight : bold;
    text-align  : center;
}

.barmax, .bar
{
    border        : 1px solid #666666;
    padding-left  : 2px;
    padding-right : 2px;
}

.bar
{
    background : #cc4400;
}

.barmax
{
    background : #0033cc;
}
/*------------------------------------------- End of Polls -------------------------------------------*/

.roundedCorners
{
    border                : 1px solid #000;
    -moz-border-radius    : 6px;
    -webkit-border-radius : 6px;
}

.codetop
{
    background  : #0099FF url(/images/bbcode/code.jpg) no-repeat right;
    color       : #000;
    font-weight : bold;
    margin      : 0 auto 0 auto;
    padding     : 3px;
    border      : 1px solid #000;
    width       : 470px;
}

.codemain
{
    background : #FFF;
    border     : 1px solid #000;
    color      : #000;
    margin     : 0 auto 0 auto;
    padding    : 3px;
    width      : 470px;
    overflow   : auto;
    height     : 150px;
}

/*--------------------------------- Start For Donation Page - Align Offers ---------------------------*/
.thumbnail
{
    float  : left;
    width  : 225px;
    height : 272px;
}

.clearboth
{
    clear : both;
}

#wrapper
{
    padding  : 0;
    width    : 675px;
    height   : auto;
    position : relative;
}
/*--------------------------------- End For Donation Page - Align Offers -----------------------------*/

/*--------------------------------- Start OK Submit Buttons Styling ----------------------------------*/
.btn
{
    display               : inline-block;
    outline               : none;
    cursor                : pointer;
    text-align            : center;
    text-decoration       : none;
    /*font: 16px Helvetica, sans-serif;*/
    padding               : 1px 2px;
    text-shadow           : 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-border-radius : 5px;
    -moz-border-radius    : 5px;
    border-radius         : 5px;
    -webkit-box-shadow    : 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow       : 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow            : 0 1px 2px rgba(0, 0, 0, .2);
    color                 : #000000; /* Changes the font    color of the buttons */
    background            : #9CB910; /* Changes the top color of the button */
    /* Replace all #8a9199 with your new top color.  Replace all #c1c9d4 with you new bottom color.
     /*1st Value    Changes the background color of the top layer of button. */
    /* 2nd value changes the bottom color layer of button */
    background            : -webkit-gradient(linear, left top, left bottom, from(#9CB910), to(#505F0F));
    background            : -moz-linear-gradient(top, #9CB910, #505F0F);
    filter                : progid:DXImaGETransform.Microsoft.gradient(startColorstr = '#9CB910', endColorstr = '#505F0F');
}

.btn:hover
{
    background      : #8a9199; /*   Changes the top color of the button */
    /* 1st Value Changes the background color of the top layer of button.*/
    /* 2nd value changes the bottom color layer of button */
    background      : -webkit-gradient(linear, left top, left bottom, from(#505F0F), to(#9CB910));
    background      : -moz-linear-gradient(top, #505F0F, #9CB910);
    filter          : progid:DXImaGETransform.Microsoft.gradient(startColorstr = '#505F0F', endColorstr = '#9CB910');
    text-decoration : none;
    color           : #ffffff; /* Changes the font  color of the buttons on hover*/
}
/*---------------------------------- End OK Submit Buttons Styling -----------------------------------*/

/*----------------------------------------- Start Userdetails Content --------------------------------*/
#featured ul.ui-tabs-nav
{
    list-style :none;
    margin     : 1em 0;
    padding    : 0;
    text-align : center;
}

#featured ul.ui-tabs-nav li
{
    display   : inline;
    margin    : 0 2px;
    font-size :12px;
}

#featured .ui-tabs-panel
{
    width    :100%; /* increase / decrease width of user details display */
    height   :100%; /* Do not adjust */
    position :relative;
}
/*------------------------------------- Finish Sliding Userdetails Content ---------------------------*/

/*------------------------------------ Start Error/Warning Notices -----------------------------------*/
.notice
{
    background            : url(/images/error/error-bg.png) repeat-x 0 0;
    color                 : #FFF;
    width                 : 83%;
    font-weight           : normal;
    padding               : 4px 15px 0;
    margin-bottom         : 1.0em;
    -moz-border-radius    : 6px;
    -webkit-border-radius : 6px;
    border-radius         : 6px;
    -moz-box-shadow       : 1px 1px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow    : 1px 1px 2px rgba(0, 0, 0, .4);
    box-shadow            : 1px 1px 2px rgba(0, 0, 0, .4);
    position              : relative;
    left                  : 34px;
    z-index               : 1;
}

.notice p
{
    margin-bottom : 1.5em;
}

.notice p:last-child
{
    margin-bottom : 0;
}

.notice ul
{
    margin-left   : 8px;
    margin-bottom : 1.5em;
}

.notice ul:last-child
{
    margin-bottom : 0;
}

.notice li
{
    background      : url(/images/error/error-tabs.png) no-repeat 0 -95px;
    list-style-type : none;
    padding-left    : 18px;
    margin-bottom   : .75em;
}

.notice-success li
{
    background-position : 0 -95px;
}

.notice-warn li
{
    background-position : 0 -895px;
}

.notice-error li
{
    background-position : 0 -495px;
}

.notice-info li
{
    background-position : 0 -1295px;
}

.notice h5
{
    font-size     : 14px;
    font-weight   : bold;
    margin-bottom : .65em;
}

.notice span
{
    background : url(/images/error/error-tabs.png) no-repeat 100% 0;
    width      : 33px;
    height     : 40px;
    position   : absolute;
    left       : -34px;
    top        : 6px;
}

.notice-success
{
    background-color : #EEF4D4;
    color            : #596C26;
    border           : 1px solid #8FAD3D;
}

.notice-success span
{
    background-position : 100% 0;
}

.notice-warn
{
    background-color : #FFEA97;
    color            : #796100;
    border           : 1px solid #E1B500;
}

.notice-warn span
{
    background-position : 100% -800px;
}

.notice-error
{
    background-color : #EFCEC9;
    color            : #933628;
    border           : 1px solid #AE3F2F;
}

.notice-error span
{
    background-position : 100% -400px;
}

.notice-info
{
    background-color : #C6D8F0;
    color            : #285797;
    border           : 1px solid #4381CD;
}

.notice-info span
{
    background-position : 100% -1200px;
}
/*------------------------------------- End Error/Warning Notices ------------------------------------*/

/*------------------------------------------- Start LightBox -----------------------------------------*/
.image-resize
{
    max-width : 350px;
    border   :none;
}
/*-------------------------------------------- End LightBox ------------------------------------------*/